<nav class="lighten-1" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/home" class="brand-logo"><i class="material-icons"><md-icon svgIcon="logo" class="header-icon"></md-icon></i>ProtMiscuit</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#">Navbar Link</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="#">Navbar Link</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
