.form {
  width: 500px;
}

.full-width {
  width: 100%;
}

.cardForm{
  width: 50%;
}

.cardList{
  width: 50%;
}

.container{
  width: 90%;
  display: flex;
  position: relative;
}

.header-card{
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 100%;
}
.plus-container{
  padding-top: 5px;
}
.float-right{
  float: right;
}

.mdl-textfield__label__icon {
  position: absolute;
  right: 0;
  bottom: 2px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}