@import "../../../styles";
.form {
  width: 500px;
}

.full-width {
  width: 100%;
}

.cardForm{
  width: 50%;
}

.cardList{
  width: 50%;
}

.container{
  width: 90%;
  display: flex;
  position: relative;
}

.header-card{
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 100%;
}
.plus-container{
  padding-top: 5px;
}
.float-right{
  float: right;
}

.mdl-textfield__label__icon {
  position: absolute;
  right: 0;
  bottom: 2px;
}

// .mat-expansion-panel-header-title,
// .mat-expansion-panel-header-description {
//   flex-basis: 0;
// }
//
// .mat-expansion-panel-header-description {
//   flex-flow: row-reverse;
//   align-items: center;
//
// }

.icon-elements-view {
  width: 40px;
  height: 40px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 16px;
  border-radius: 50%;
  box-sizing: content-box;

}

// .table-header{
//   background-color: mat-color($primary, lighter, 0.5);
// }


.list{
  display: inline-flex;
  flex: 1;
  padding: 16px 0;
  text-overflow: ellipsis;

}

.list-item-card{
  font-size: 14px;
  padding-top: 6px;
  padding-bottom: 6px
}

.card-general{
  width: 60%;
}

.div-content-card{
  width:100%;
  padding-left: 260px;
}

.container-body{
  width: 100%;
  padding-top: 20px;
}
