


<md-expansion-panel hideToggle="true" [expanded] =true>
        <md-expansion-panel-header >
            <md-panel-title>
                <div>

                    <h2>General Information</h2>
                </div>

            </md-panel-title>
            <md-panel-description>
                <md-icon svgIcon="protein" class="icon-elements-view"  color="primary"></md-icon>
            </md-panel-description>
        </md-expansion-panel-header>
        <div class="div-content-card">
            <md-card class="card-general">
                <md-list>
                    <md-list-item class="list list-item-card">
                        <div>
                            <h3>
                                Name
                            </h3>
                            <p>{{model.nombre}}</p>
                        </div>
                    </md-list-item>
                    <md-divider hide-gt-sm></md-divider>
                    <md-list-item class="list list-item-card">
                        <div>
                            <h3>
                                Organism
                            </h3>
                            <p>{{model.organismo}}</p>
                        </div>
                    </md-list-item>
                    <md-divider md-inset hide-sm></md-divider>
                    <md-list-item class="list list-item-card">
                        <div>
                            <h3>
                                Family
                            </h3>
                            <p>{{model.familia}}</p>
                        </div>
                    </md-list-item>
                    <md-divider hide-gt-sm></md-divider>
                    <md-list-item class="list list-item-card">
                        <div>
                            <h3>
                                Uniprot Id
                            </h3>
                            <p>{{model.codigoUniProt}}</p>
                        </div>
                    </md-list-item>
                    <md-divider hide-gt-sm></md-divider>
                    <md-list-item class="list list-item-card">
                        <div>
                            <h3>
                                Kegg Id
                            </h3>
                            <p>{{model.codigoKegg}}</p>
                        </div>
                    </md-list-item>
                    <md-divider hide-gt-sm></md-divider>
                </md-list>

            </md-card>

        </div>

    </md-expansion-panel>

    <md-expansion-panel hideToggle="true" >
        <md-expansion-panel-header >
            <md-panel-title>
                <div>

                    <h2>Reactions</h2>
                </div>

            </md-panel-title>
            <md-panel-description>
                <md-icon svgIcon="reaccion" class="icon-elements-view"  color="primary"></md-icon>
            </md-panel-description>
        </md-expansion-panel-header>
        <app-reaction-list [list]="model.reacciones"></app-reaction-list>
    </md-expansion-panel>

    <md-expansion-panel hideToggle="true" >
        <md-expansion-panel-header >
            <md-panel-title>
                <div>

                    <h2>Structures</h2>
                </div>

            </md-panel-title>
            <md-panel-description>
                <md-icon svgIcon="structure" class="icon-elements-view"  color="primary"></md-icon>
            </md-panel-description>

        </md-expansion-panel-header>
        <app-structrue-list [list]="model.estructurasPDB"></app-structrue-list>
    </md-expansion-panel>



