<!-- <ul id="dropdown1" class="dropdown-content">
  <li><a href="/proteins">Search</a></li>
  <li><a href="/proteins">All</a></li>
</ul> -->

<nav  class="red lighten-1" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/home" class="brand-logo"><i class="material-icons"></i>ProtMiscuit</a>
    <ul class="right hide-on-med-and-down">
      <!-- <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Proteins<i class="material-icons right">arrow_drop_down</i></a></li> -->
      <li><a href="/proteins">Proteins</a></li>
      <li><a href="link piola"><i class="material-icons right">file_download</i>Download</a></li>

    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="/proteins">Proteins</a></li>
      <li><a href="link piola">Download</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
