<md-toolbar  color="primary" >


  <span>Custom Toolbar</span>


</md-toolbar>

<!--<md-tab-group>-->
<!--<md-tab label="COMP">-->
<!--&lt;!&ndash; <div id="content">-->
<!--<md-card>-->
<!--<h1>Home</h1>-->
<!--<app-slide></app-slide>-->
<!--</md-card>-->
<!--</div>&ndash;&gt;-->
<!--</md-tab>-->

<!--<md-tab label="MISC">-->
<!--<div id="content">-->
<!--<md-card>-->
<!--<h1>Various components (temporary)</h1>-->
<!--<h3>Misc</h3>-->
<!--Other components: <br/>-->
<!--<b>-->
<!--<a routerLink="/profile">Profile</a> <br/>-->
<!--<a routerLink="/profile-settings">Profile settings</a> <br/>-->
<!--&lt;!&ndash; <a routerLink="/messages">Messages</a> <br/><br/> &ndash;&gt;-->
<!--</b> -->

<!--<button md-raised-button (click)="onLogout()">Logout</button>-->
<!--&lt;!&ndash; <button md-button (click)="onFetchData()">Fetch users</button>-->
<!--<button md-button (click)="onSaveData()">Save users</button> &ndash;&gt;-->
<!--</md-card>-->
<!--</div>-->
<!--</md-tab>-->

<!--</md-tab-group>-->

