
<body>
  <div class="container">
    <div class="row">

      <div class="col s12">
    <p>
      ProtMiscuity has a total of 65 promiscuous proteins with one or more characterized promiscuous activities, corresponding to 2480 PDB structures from 43 different organisms.
    </p>
    <!--.Acá va el grafico de los organismos..-->
    <p>
      The two more populated families the AB hydrolase superfamily Lipase and the 4-oxalocrotonate tautomerase family.
    </p>
    <!--.Acá va el grafico de las familias..-->
    <p>
      More than 100 reactions were characterized and around 200 different molecules were characterized as promiscuous or canonical reactions and  substrates or products. Substrates and products were linked to PDB Ligand Expo and PubChem to obtain possible ligands with chemical similarity
    </p>
      </div>

      </div>
    </div>
  </body>
