<!-- <div class="div-container">

  <md-card *ngFor="let structure of list" class="sampleClass">
    <md-toolbar class="card-toolbar" color="primary">
      <md-list class="list-header">
        <md-list-item class="list list-item-header">
          <button md-icon-button   type="button" class="icon-elements-view" (click)="clickStructure(structure.link)">
            <md-icon svgIcon="link"  ></md-icon>
          </button>
          <div class="header-content" >
            <h2>{{structure.nombre}}</h2>
            <span>{{structure.codigo}}</span>
            <span>{{structure.link}}</span>
          </div>

        </md-list-item>
      </md-list>


    </md-toolbar>




  </md-card>

</div> -->
