<div class="contentCard">
    <div>
        <h1>Protein Manager</h1>
        <h2>Protein manager aplication</h2>

    </div>
    <div>
        <p>
            This is a simple open source application, developed for educational source
        </p>
    </div>

    <br /><br />
    <div>
        <button md-raised-button class="buttonCard" color=primary><h3>Fork on Github</h3></button>
    </div>
</div>
<hr>
<div class="container-cards">
    <md-card class="container">
        <md-card-header>
            <md-icon svgIcon="protein" class="icon-header" color="primary" ></md-icon>
        </md-card-header>
        <md-card-content>
            <p>
                This application allows to visualize all the data of the protein.
                It allows to visualize information about the family and organism among others
            </p>
        </md-card-content>

    </md-card>

    <md-card class="container">
        <md-card-header>
            <md-icon svgIcon="reaccion" class="icon-header" color="primary" ></md-icon>
        </md-card-header>
        <md-card-content>
            <p>
                For each protein it allows to visualize the reactions and the molecules involved in a single page
            </p>
        </md-card-content>
    </md-card>

    <md-card class="container">
        <md-card-header>
            <md-icon svgIcon="structure" class="icon-header" color="primary" ></md-icon>
        </md-card-header>
        <md-card-content>
            <p>
                For each protein it allows to visualize the reactions and the molecules involved in a single page
            </p>
        </md-card-content>
    </md-card>

</div>


