<div class="container">
  <ul class="collapsible popout" data-collapsible="accordion">

    <li>
      <div class="collapsible-header valign-wrapper">
        <img src="../../assets/icons/protein.svg" class="img-small">
        <p class="flow-text">General Information</p>
      </div>
      <div class="collapsible-body">
        <p>Name: <strong>{{protein.nombre}}</strong></p>
        <div class="divider"></div>
        <p>Organism: <strong>{{protein.organismo}}</strong></p>
        <div class="divider"></div>
        <p>Family: <strong>{{protein.familia}}</strong></p>
        <div class="divider"></div>
        <p>Uniprot Id: <strong>{{protein.codigoUniProt}}</strong></p>
        <div class="divider"></div>
        <p>Kegg Id: <strong>{{protein.codigoKegg}}</strong></p>
      </div>
    </li>

    <li>
      <div class="collapsible-header valign-wrapper">
        <img src="../../assets/icons/reaccion.svg" class="img-small">
        <p class="flow-text">Reactions</p>
      </div>
      <div class="collapsible-body">
        <!-- <app-reaction-list [protein]="protein"></app-reaction-list> -->
      </div>
    </li>

    <li>
      <div class="collapsible-header valign-wrapper">
        <img src="../../assets/icons/structure.svg" class="img-small">
        <p class="flow-text">Structures</p>
      </div>
      <div class="collapsible-body">
        <span>Lorem ipsum dolor sit amet.</span>
      </div>
    </li>

    <li>
      <div class="collapsible-header valign-wrapper">
        <img src="../../assets/icons/links.svg" class="img-small">
        <p class="flow-text">Links</p>
      </div>
      <div class="collapsible-body">
        <span>Lorem ipsum dolor sit amet.</span>
      </div>
    </li>

  </ul>
</div>
