#contentThree {
  width: 930px;
  margin: 0 auto;
  left: 0;
  right: 0;
  padding: 120px 20px 120px;
  z-index: 3;
  position: relative;
}

#contentThree .div.mat-card {
  width: 30%;
  margin: 10px;
  display: inline-block;
}
.sampleClass{
  width: 20%;
  margin: 12px;
  display: inline-block;
  padding: 0px;

}
.card-toolbar{
  padding: 0px;
}

.list-header{
  width: inherit;
}

.header-content{
  width: 70%;
  h2{
    display: block;
    overflow: hidden;
    overflow-wrap: break-word;
  }
  label{
    display: block;
    overflow: hidden;
    overflow-wrap: break-word;
  }
}

@media only screen and (max-width: 1024px) {

  #contentThree, #contentThree .mat-card {
    width: 100%;
  }

}

.card-actions{
  float: right;
}
.card-content{
  display: flex !important;
  flex-flow: column;
}

.list{
  display: inline-flex;
  flex: 1;
  padding: 16px 0;
  text-overflow: ellipsis;

}

.icon-list{
  width: 32px;
  height: 32px;
}


.icon-elements-view {
  width: 40px;
  height: 40px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 16px;
  border-radius: 50%;
  box-sizing: content-box;

}

.list-item-header{
  color: white;
}

