
    <!--<md-tab label="LIST">-->
        <!--<div >-->
            <!--<md-table #table [dataSource]="dataSource">-->

                <!--&lt;!&ndash;- Note that these columns can be defined in any order.-->
                      <!--The actual rendered columns are set as a property on the row definition" &ndash;&gt;-->

                <!--&lt;!&ndash; Position Column &ndash;&gt;-->
                <!--<ng-container mdColumnDef="nombre">-->
                    <!--<md-header-cell *mdHeaderCellDef> nombre </md-header-cell>-->
                    <!--<md-cell *mdCellDef="let element"> {{element.nombre}} </md-cell>-->
                <!--</ng-container>-->

                <!--&lt;!&ndash; Name Column &ndash;&gt;-->
                <!--<ng-container mdColumnDef="codigoUniProt">-->
                    <!--<md-header-cell *mdHeaderCellDef> codigoUniProt </md-header-cell>-->
                    <!--<md-cell *mdCellDef="let element"> {{element.codigoUniProt}} </md-cell>-->
                <!--</ng-container>-->

                <!--&lt;!&ndash; Weight Column &ndash;&gt;-->
                <!--<ng-container mdColumnDef="organismo">-->
                    <!--<md-header-cell *mdHeaderCellDef> organismo </md-header-cell>-->
                    <!--<md-cell *mdCellDef="let element"> {{element.organismo}} </md-cell>-->
                <!--</ng-container>-->

                <!--&lt;!&ndash; Color Column &ndash;&gt;-->
                <!--<ng-container mdColumnDef="familia">-->
                    <!--<md-header-cell *mdHeaderCellDef> familia </md-header-cell>-->
                    <!--<md-cell *mdCellDef="let element"> {{element.familia}} </md-cell>-->
                <!--</ng-container>-->

                <!--<md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>-->
                <!--<md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>-->
            <!--</md-table>-->
        <!--</div>-->
    <!--</md-tab>-->
    <div class="div-container">

                <md-card *ngFor="let protein of list" class="sampleClass">
                    <md-toolbar class="card-toolbar" color="primary">
                        <md-list class="list-header">
                            <md-list-item class="list list-item-header">
                                <md-icon svgIcon="protein" class="icon-elements-view" ></md-icon>
                                <div class="header-content" >
                                    <h2>{{splitString(protein.nombre)}}</h2>
                                    <label>Family {{splitString(protein.familia)}}</label>
                                </div>
                            </md-list-item>
                        </md-list>


                    </md-toolbar>
                    <md-list>
                        <md-list-item class="list list-item-card">
                            <div >
                                <h3 >Organism</h3>
                                <p>{{protein.organismo }}</p>
                            </div>
                        </md-list-item>
                        <md-list-item class="list list-item-card">
                            <div >
                                <h3 >Iniprot ID</h3>
                                <p>{{protein.codigoUniProt}}</p>
                            </div>

                        </md-list-item>

                    </md-list>
                    <div class="div-actions">
                        <button md-icon-button color="primary"  (click)="showProtein(protein.id)" >
                            <md-icon class="md-24" aria-label="Example icon-button with a heart icon">search</md-icon>
                        </button>
                    </div>



                </md-card>

    </div>

