.search-bar{
  width: 100% ;
}


.search-form{
  background: #fff;
  position: relative;
  border-radius: 2px;
  margin-right: 1rem;
  display: block;
  max-width: 800px;
  md-icon{
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -12px;
    color: rgba(0,0,0,.87);
  }

  input{
    color: #000;
    font-size: 1rem;
    padding: .95rem .75rem;
    z-index: 2;
    cursor: text;
    text-indent: 30px;
    border: none;
    background: transparent;
    width: 100%;
    outline: 0;
  }
}
