<body>
  <div class="container">
    <div class="row">

      <div class="col s12">
      <h5 class="left titulo">
        <blockquote>Searching promiscuous proteins in ProtMiscuity</blockquote>
      </h5>
    </div>

    <div class="col s12">
    <p style="font-size: 18px">There are many ways to find your protein in ProtMiscuity</p>
  </div>

  <div class="col s12">
  <h5>
    <blockquote>Search by Protein Name</blockquote>
  </h5>
</div>

<div class="col s12">
  <div class="col s6">
  <p style="font-size: 18px">The search is by default set by protein or Uniprot id. The user can write UniProt id or the protein name in the the field and click the search button.</p>
</div>
<div class="col s6">
  <img src="../../assets/tutorial_img/img1.png" class="img-medium" style="width:100%">
</div>
</div>

<div class="col s12">
<h5>
  <blockquote>Advanced search</blockquote>
</h5>
</div>
<div class="col s6">
    <ul>
      <li style="font-size: 18px;margin-left: 35px"><strong> By organism </strong></li><p style="margin-left: 35px;font-size: 18px">By clicking this option, the user will obtain all the promiscuous proteins related with the organism of interest.</p>
      <li style="font-size: 18px;margin-left: 35px"><strong>By reaction</strong></li><p style="margin-left: 35px;font-size: 18px">By clicking this option, the user will obtain all the proteins having this promiscuous or canonic reaction.</p>
    </ul>
    <p style="font-size: 18px">After a search, the results page show a card where you can press in order to get the all the information
    available of this protein.</p>
</div>
<div class="col s6">
  <div class="col s6">
  <img src="../../assets/tutorial_img/img2_a.png" class="img-medium" style="width:100%">
</div>
    <div class="col s6">
  <img src="../../assets/tutorial_img/img2_b.png" class="img-medium" style="width:100%">
</div>
</div>

<div class="col s12">
<h5>
  <blockquote>Visualazing protein data</blockquote>
</h5>
</div>

<div class="col s12">
<div class="col s6">
<p style="font-size: 18px">All the information is collapsed and listed in five items in which the user can search for the specific information of interest: general information, sequence and active sites information, sctructural information and visualization and conformational dyversity and external links.</p>
</div>
<div class="col s6">
<img src="../../assets/tutorial_img/img3.png" class="img-medium" style="width:100%">
</div>
</div>

<div class="col s12">
<h5>
  <blockquote>Genaral Information</blockquote>
</h5>
</div>

<div class="col s12">
<div class="col s6">
<p style="font-size: 18px">All the information is collapsed and listed in five items in which the user can search for the specific information of interest: general information, sequence and active sites information, sctructural information and visualization and conformational dyversity and external links.</p>
</div>
<div class="col s6">
<img src="../../assets/tutorial_img/img3.png" class="img-medium" style="width:100%">
</div>
</div>

  </div>
</div>
</body>
