.hand {
  cursor: pointer;
}
<<<<<<< HEAD
.img-small {
  width: 5%;
  height: 5%;
}

.ico-red{
  fill: red;
  color: red;
}

.ico-white{
  fill: white;
}
=======

.img-small {
  width: 1%;
  height: 1%;
}
>>>>>>> 8e26a49913cd00a614cd929e5ae61abf159e91be
