<!-- <div class="card small  red lighten-1 hand" [class.z-depth-5]="shadow" (mouseover)="shadow=true" (mouseout)="shadow=false">
  <div class="card-content white-text">
    
    <div class="row d-flex">
      <div class="col s12 m11 d-flex">
      </div>
      <div class="col s12 m11 d-flex center">
            <img src="../../assets/icons/protein.svg" class="img-small left">
            <span class="card-title white-text center ">{{splitString(protein.nombre)}}</span>
            
            <p class="white-text">Family {{splitString(protein.familia)}}</p>
          </div>
        </div>
        
      </div>
      <div class="card-action black-text darken-1 center">
        <p><strong>Organism:</strong>{{protein.organismo}}</p>
        
        <p><strong>Uiprot ID:</strong> {{protein.codigoUniProt}}</p>
      </div>
      <div class="card-action white-text center">
        <div class="row d-flex">
      <div class="col s12 m6 d-flex">
        <p><strong>{{getAmountReactions()}}</strong> Reactions</p>
      </div>
      <div class="col s12 m6 d-flex">
        <p><strong>{{getAmountStructures()}}</strong> Structures</p>
      </div>
    </div>
  </div>
</div> -->


<div>
  <div class="col s12 m6 l12">
    <div class="card red lighten-1 hand"[class.z-depth-5]="shadow" (mouseover)="shadow=true" (mouseout)="shadow=false">
        <div class="card-content white-text">
            <img src="../../assets/icons/protein.svg" class="img-small ico-white left">
          <span class="card-title"> {{splitString(protein.nombre)}}</span>
          <p><strong>Family:</strong> {{splitString(protein.familia)}}</p>
          <div class="divider"></div>
          <p><strong>Organism:</strong>{{protein.organismo}}</p>
          <p><strong>Uiprot ID:</strong> {{protein.codigoUniProt}}</p>
          </div>
          
          <div class="divider"></div>
         
          <div class="card-action grey lighten-5">
            <p><img src="../../assets/icons/reaccion.svg" class="img-small ico-red left"><strong>{{getAmountReactions()}}</strong> Reactions</p>
              <p><img src="../../assets/icons/structure.svg" class="img-small ico-red left"><strong>{{getAmountStructures()}}</strong> Structures</p>
            </div>
            
      </div>
    </div>
  </div>

