<div>
  <div class="col l3 m6 s12">
    <div class="card red lighten-1 hand"[class.z-depth-5]="shadow" (mouseover)="shadow=true" (mouseout)="shadow=false">
        <div class="card-content white-text">
            <img src="../../assets/icons/protein.svg" class="img-small ico-white left">
          <span class="card-title"> {{splitString(protein.nombre)}}</span>
          <p><strong>Family:</strong> {{splitString(protein.familia)}}</p>
          <div class="divider"></div>
          <p><strong>Organism:</strong>{{protein.organismo}}</p>
          <p><strong>Uiprot ID:</strong> {{protein.codigoUniProt}}</p>
          </div>

          <div class="divider"></div>

          <div class="card-action grey lighten-5">
            <p><img src="../../assets/icons/reaccion.svg" class="img-small ico-red left"><strong>{{getAmountReactions()}}</strong> Reactions</p>
              <p><img src="../../assets/icons/structure.svg" class="img-small ico-red left"><strong>{{getAmountStructures()}}</strong> Structures</p>
            </div>

      </div>
    </div>
  </div>
